@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family:  "Raleway", sans-serif;
    background: #262626;
    color: white;
    box-sizing: border-box;
    margin: 0;

}

header{
    height: 700px;
    background-image: url('https://static.wixstatic.com/media/9f728c_aa0f7a41a9c4453d9b39dc3219f1701e~mv2.jpg/v1/fill/w_2048,h_1302,al_c,q_90,enc_auto/9f728c_aa0f7a41a9c4453d9b39dc3219f1701e~mv2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.hero{
    text-align: center;
    font-size: 1.5rem;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero div h1{
    font-weight: 300;
    letter-spacing: 0.1em;
}

#logo{
    text-align: left;
    width: 100px;
    padding: 20px;
}

.bold {font-weight: 700;}

nav > ul{
    list-style-type: none;
}

nav li{
    display: inline;
    text-transform: uppercase;
    margin: 0 25px;

}

#topmenu{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

#topmenu nav{
margin-left: auto;}

.home-main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #9A8A78;
    margin: 75px;
    grid-template-areas: "p p i i"
"p p i i"  
       "s s s s"
       "a a ai ai"
"a a ai ai"  ;
    margin-bottom: 100px;
    }

#services-img img{
    object-fit: contain;
    max-width: 100%
}

#services-img{
    grid-area: p;
}
#services-info{
    font-size: 16px;
    line-height: 32px;
    display: flex;
    padding-left: 100px;
    align-items: center;
grid-area: i;
margin-left: 40px;}

.ltext {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    line-height: 3rem;
}

#sub-info{
    grid-area:s;
    font-size: 1.5em;
    text-align: center;
    display: flex;
}

#sub-info div{
    flex-direction: row;
    text-align: center;
    border: 1px solid #9A8A78;
    flex-grow: 1;
    padding: 80px 40px;
    min-width: 0;
    flex-basis: 100%;
}

#sub-info div i{
  font-size: 4rem;
  display: block;
  padding: 30px;
  color: #9A8A78;
}


.button{
    padding: 15px;
    background-color: #9A8A78;
    text-align: center;
    margin: 40px auto;
}

.button a{
    color: #262626;
    text-decoration: none;
    margin: 0 auto;}

#about-us{
    grid-area: a;
    padding: 20px;
    padding-left: 50px;
    font-size: 1.5em;
    font-weight: lighter;
}

#about-us-image{
grid-area: ai;
}

#about-us-image img{
max-width: 100%;
}

footer{
    color: #9A8A78;
    margin: 0 75px;
    font-size: 24px;
    display: flex;
}

footer i{
    width: 40px;
}

footer span{
    display: block;
    margin: 20px;
}

footer form *{
    display: block
}
